# Maven
target/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
*.env
.env





# Logs
server.log
server.err
logs/
*.log

# Java
*.class

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Build outputs
out/

# Env variants
*.env.local
.env.local